body{

	background-color: pink;
	margin-left: 15%;
	margin-right: 15%;
	color: white;

}
h1{
text-align: center;

 
}
p{

	text-align: justify;
	font-size: 20px;
}

img{

	width: 50%;



}



figure{

	text-align: center;

}